/**/.vs
/**/bin
/**/obj
/**/Logs
/**/Temp
/**/obj
/**/Library
/**/UserSettings
/**/.vsconfig
/**/Client.sln
/**/*.csproj
/**/GameEditor.csproj
/**/MainScripts.csproj
/**/SDK.csproj
/**/ThirdParty.csproj
/**/~$**
/Developer/Client/Local
/**/Tools/UnityPlugins/*.zip
/**/Tools/UnityPlugins/*.rar
